/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Barlow", serif !default;

// headings
$presentation-heading-font: $font-family-sans-serif, serif !default;
$presentation-h1-font-size: 2em !default;
$presentation-heading-text-transform: none !default;

// colors
$body-bg: #fff;